h1{
    text-align: center;
    padding-bottom: 20px;
    background-color: #E0FFFF;
}

.regex1{
    text-align: justify;
    padding-right: 30px;
}

h4{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    
}

.explicacao{
    text-align:left;
    font-size: 20px;
    padding: 20px;
}

.jqueryex{
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
}

h5{
    padding-top: 10px;
}

.formulario{
    padding-left: 30px;

}
 h2{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
 }

 .botao{
    padding-bottom: 20px;
 }

 footer{
    text-align: center;
    background-color:#E0FFFF;
 }
 
 body{
    background-color:#B0E0E6;
 }